<div class="h-screen container flex justify-center items-center">
    <header class="border-blue-400 border-4 h-[20%] content-center text-center bg-blue-200 rounded m-5 mx-auto p-5">
      <div *ngIf="isLoggedIn" class="">
        <h1>You're now on the Pangolin's application !</h1>
        <p>Here you can add friends, update your informations and more !</p>
        <p></p>
      </div>
      <h1 *ngIf="!isLoggedIn">You have to login if you want to use the Pangolin's application !</h1>
    </header>
  </div>