<div class="container mx-auto sm:px-4" *ngIf="currentUser; else loggedOut">
    <header class="py-8 px-4 md:py-16 md:px-8 mb-8 bg-gray-200 rounded">
      <h3>
        <strong>{{ currentUser.username }}</strong> Profile
      </h3>
    </header>
    <p><strong>Username: </strong>{{ currentUser.username }}</p>
    <p><strong>Email: </strong>{{ currentUser.email }}</p>
    <p><strong>Roles: </strong>{{ currentUser.role }}</p>
  </div>
  
  <!-- Crée un formulaire pour modifier son compte -->
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>