  <div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-blue-200 border-2 border-blue-400 px-6 py-8 rounded shadow-md text-black w-full">
            <h1 class="mb-8 text-3xl text-center">Login</h1>
              <form
              *ngIf="!isLoggedIn"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
            >
            <input 
                type="text"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                name="username"
                [(ngModel)]="form.username"
                required
                #username="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
                placeholder="Username"
              />
              <div *ngIf="username.errors && f.submitted" class="hidden mt-1 text-sm text-red">
                Username is required!
              </div>

            <input 
                type="password"
                class="block border border-grey-light w-full p-3 rounded mb-4"
                name="password"
                [(ngModel)]="form.password"
                required
                minlength="6"
                #password="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
                placeholder="Password"
              />
              <div *ngIf="password.errors && f.submitted" class="hidden mt-1 text-sm text-red">
                <div *ngIf="password.errors['required']">Password is required</div>
                <div *ngIf="password.errors['minlength']">
                  Password must be at least 6 characters
                </div>
              </div>

            <button
                type="submit"
                class="w-full text-center py-3 rounded bg-green-600 text-white hover:bg-green-500 focus:outline-none my-1"
            >Login</button>

            <div class="mb-4">
              <div *ngIf="f.submitted && isLoginFailed" class="relative px-3 py-3 mb-4 border rounded bg-red-200 border-red-300 text-red-800" role="alert">
                Login failed: {{ errorMessage }}
              </div>
            </div>
          </form>
        </div>
    </div>
</div>